import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				margin-top: 120px; /* 네비게이션 바 높이보다 더 큰 여백 추가 */
				padding: 0 1em;
				max-width: 1200px;
				margin-inline: auto;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
				font-family: 'Playfair Display', serif;
				font-size: 3em;
				color: var(--text-color);
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="title">
					<div class="date">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1>{title}</h1>
					<hr />
				</div>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html> 